<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recruta-me{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'global/index.css' %}">
    <link rel="icon" href="{% static 'Favicon/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>
    <div class="header">
    {% if not user.is_authenticated %}
        <a href="{% url 'authentication' %}" class="auth-link">
            <i class="fas fa-user">
            </i>
        </a>

    {% else %}
            <a href="{% url 'edit_profile' %}" class="edit-link">
                <img src="{% static 'icons/editar.png' %}" class="edit-image">
            </a>

    {% endif %}

        <a href="{% url 'home' %}" class="title-link">
            <p class="title">Recruta-me</p>
        </a>
        <div class="search-box">
            <form class="search-form" method="GET" action="{% url 'search_profiles' %}">
                <input type="text" class="search-input" placeholder="Pesquise Nome ou Cargo..." name="search" value="{{ search_profiles }}" required>
                <button type="submit" class="search-button" id="open-search-box">&#128269;</button>
                </div>
            </form>

            <div class="form-media" id="toggle-form-media">
                <span class="search-icon">
                    &#128269;
                </span>
            </div>
            <form class="search-form-media" method="GET" action="{% url 'search_profiles' %}">
                <input type="text" class="search-input-media" placeholder="Pesquise Nome ou Cargo..." name="search" value="{{ search_profiles }}" required>
                <button type="submit" class="search-button-media" id="open-search-box">&#128269;</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="presentation">
        <img src="/media/Files/Gif-Recruta-Me.gif" alt="" class="presentation-gif">
        <div class="informers-buttons">    
            <div class="recruiters" id="recruiters">
                <h3 class="recruiters-title">Para Recrutadores</h3>
            </div>
            <div class="candidates" id="candidates">
                <h3 class="candidates-title">Para Candidatos</h3>
            </div>
        </div>
    </div>

    <h2 class="profiles-title">Perfis</h2>
    <div class="profiles">
        {% if page_obj %}
        {% for usuario in page_obj %}
            <a href="{% url 'detail' id=usuario.id %}" class="profile">  
                <div> 
                    {% if usuario.photo %} 
                        {% if usuario.photo.url %} 
                            <img src="{{ usuario.photo.url }}" alt="Foto do usuário" class="photo"> 
                        {% else %} 
                            <img src="/media/Files/Sem foto.png" alt="Usuário sem foto" class="non-photo">  
                        {% endif %} 
                    {% else %}
                        <img src="/media/Files/Sem foto.png" alt="Usuário sem foto" class="photo">  
                    {% endif %} 
                </div>
                <div class="details">
                    <p class="cargo">Cargo: {{ usuario.cargo|capfirst }}</p>
                    <p class="name">Nome: {{ usuario.first_name|capfirst }}</p>
                </div>
                <div>
                    <p class="description">Descrição: {{ usuario.description|slice:":255" }}...</p>
                </div>
            </a>
        {% endfor %}
        {% endif %}
    </div>

    
    <!-- Links de paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="link-pag-first">
                <p class="pagination-icon-first">&laquo;</p>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="link-pag-prev">
                <p class="pagination-icon-prev">&lt;</p>
            </a>
            {% endif %}

            <span class="current-page">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="link-pag-next">
                <p class="pagination-icon-next">&gt;</p>
            </a>    
            <a href="?page={{ page_obj.paginator.num_pages }}" class="link-pag-last"> 
                <p class="pagination-icon-last">&raquo;</p>
            </a>
            {% endif %}
        </span>
    </div>
    <div class="message-overlay">
        <div class="message-box">
            <p class="message-text"></p>
            <button class="close-button">Fechar</button>
            <button class="redirect-button">Ver Perfis</button>
        </div>
    </div>

    <div class="form-title">
        <h2>Deseja ter seu perfil registrado? Preencha o formulário abaixo!</h2>
    </div>
    
    <div class="form-bg">
        <form method="post" action="{% url 'criar_perfil' %}" enctype="multipart/form-data" class="form">
            <div class="authenticate">
                <p><a href="{% url 'register' %}" class="auth-link-form">Registre-se</a> 
                para poder editar seu perfil</p>
            </div>
            <div class="form-row">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome">*Nome:</label>
                    <input type="text" id="text" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="text" name="sobrenome" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="cargo">*Cargo:</label>
                    <input type="text" id="text" name="cargo" required>
                </div>
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="number" id="number" name="idade" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">*Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" id="tel" name="telefone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group description-group">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" name="descricao" rows="4"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="photo">Foto:</label>
                    <input type="file" id="foto" name="photo">
                </div>
            </div>
            
            <div class="submit-footer">
                <button type="submit" class="submit-button">Enviar</button>

                <p class="footer">Feito com carinho por <a href="https://beacons.ai/Tarsoo_Paulo" class="link-footer">Paulo De Tarso</a></p>
            </div>
        </form>
    </div>

    <script>
        const candidatesButton = document.querySelector(".candidates"); 
        const recruitersButton = document.querySelector(".recruiters"); 
        const messageOverlay = document.querySelector(".message-overlay"); 
        const messageText = document.querySelector(".message-text"); 
        const closeButton = document.querySelector(".close-button"); 
        const messageBox = document.querySelector('.message-box'); 
        messageBox.classList.add('show');
        const redirectButton = document.querySelector(".redirect-button");
    
        candidatesButton.addEventListener("click", () => { 
            const candidatesDiv = document.querySelector(".candidates"); 
            candidatesDiv.style.backgroundColor = "white"; 
            messageText.textContent = "Dê o Salto para a Sua Carreira dos Sonhos! Esteja Sempre ao Alcance dos Olhos dos Recrutadores. Suas Habilidades em Destaque e Suas Conquistas ao Alcance de Grandes Oportunidades de Emprego. Deixe o Seu Futuro Brilhar!"; 
            messageOverlay.style.display = "flex"; 
        }); 
    
        candidatesButton.addEventListener("mouseover", () => { 
            const candidatesDiv = document.querySelector(".candidates"); 
            candidatesDiv.style.backgroundColor = "cyan"; 
        }); 
    
        candidatesButton.addEventListener("mouseout", () => { 
            const candidatesDiv = document.querySelector(".candidates"); 
            candidatesDiv.style.backgroundColor = "white"; 
        }); 
    
        recruitersButton.addEventListener("click", () => { 
            const recruitersDiv = document.querySelector(".recruiters"); 
            recruitersDiv.style.backgroundColor = "white"; 
            messageText.textContent = "Explore um Mundo de Talentos! Encontre a Jóia Perfeita para a Sua Empresa. Navegue por Perfis Diversificados em Todas as Profissões e Encontre o Parceiro Ideal para Impulsionar o Seu Negócio!"; 
            messageOverlay.style.display = "flex"; 
        }); 
    
        recruitersButton.addEventListener("mouseover", () => { 
            const recruitersDiv = document.querySelector(".recruiters"); 
            recruitersDiv.style.backgroundColor = "cyan"; 
        }); 
    
        recruitersButton.addEventListener("mouseout", () => { 
            const recruitersDiv = document.querySelector(".recruiters"); 
            recruitersDiv.style.backgroundColor = "white"; 
        }); 
    
        closeButton.addEventListener("click", () => { 
            messageOverlay.style.display = "none"; 
        });
    
        redirectButton.addEventListener("click", () => {
            const profilesSection = document.querySelector(".profiles-title");
            profilesSection.scrollIntoView({ behavior: "smooth" });
            messageOverlay.style.display = "none";
        });
    
        const toggleFormMedia = document.querySelector("#toggle-form-media");
    toggleFormMedia.addEventListener("click", (event) => {
        event.stopPropagation(); // Impede que o clique se propague para o documento
        const searchFormMedia = document.querySelector(".search-form-media");
        const searchInputMedia = document.querySelector(".search-input-media");
        searchFormMedia.style.display = "block";
        searchInputMedia.focus();
        toggleFormMedia.style.display = "none";
    });

    // Event listener para detectar cliques fora da div search-form-media
    document.addEventListener("click", (event) => {
        const searchFormMedia = document.querySelector(".search-form-media");
        const searchInputMedia = document.querySelector(".search-input-media");
        const toggleFormMedia = document.querySelector("#toggle-form-media");

        // Verifique se o clique foi fora da search-form-media e se a search-input-media não tem foco
        if (!searchFormMedia.contains(event.target) && event.target !== searchInputMedia) {
            searchFormMedia.style.display = "none";
            toggleFormMedia.style.display = "block";
        }
    });
    </script>
</body>
</html>s