<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/success.css' %}">
    <link rel="icon" href="{% static 'Favicon/favicon.ico' %}">
    <title>Sucesso</title>
</head>
<body>

    <div class="success-message">
        <h1>Perfil Atualizado com Sucesso!</h1>
        <p>As alterações no seu perfil foram salvas com sucesso.</p>
        <a href="{% url 'home' %}" class="success-button">Ir para a Página Inicial</a>
    </div>
</body>
</html>
